/**
 * @name DarkCloud
 * @author pauwma
 * @version 1
 * @description Rounded and dark theme! :D
*/

/* Better settings */
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);

@import url('https://nyri4.github.io/Discolored/main.css');

:root {
    
	/* amount of spacing and padding */
	--spacing: 11px;
	/* radius of round corners */
	--roundness: 16px;

	/* color of links */
	--accent-1: hsl(290, 92%, 46%);
	/* color of unread dividers and some indicators */
	--accent-2: hsl(290, 92%, 46%);
	/* color of accented buttons */
	--accent-3: hsl(290, 92%, 46%);
	/* color of accented buttons when hovered */
	--accent-4: hsl(290, 92%, 46%);
	/* color of accented buttons when clicked */
	--accent-5: hsl(290, 92%, 46%);

	/* color of mentions and messages that mention you */
	--mention: hsla(276, 60%, 50%, 0.045);
	/* color of mentions and messages that mention you when hovered */
	--mention-hover: hsla(276, 60%, 50%, 0.05);

	/* color of bright text on colored buttons */
	--text-1: hsl(220, 40%, 90%);
	/* color of headings and important text */
	--text-2: hsl(220, 3%, 79%);
	/* color of normal text */
	--text-3: hsl(0, 0%, 82%);
	/* color of icon buttons and channels */
	--text-4: hsl(0, 0%, 71%);
	/* color of muted channels/chats and timestamps */
	--text-5: hsl(0, 0%, 37%);

	/* color of dark buttons when clicked */
	--bg-1: hsl(0, 0%, 8%);
	/* color of dark buttons */
	--bg-2: hsl(0, 0%, 8%);
	/* color of spacing around panels and secondary elements */
	--bg-3: hsl(0, 0%, 3%);
	/* main background color */
	--bg-4: hsl(0, 0%, 5%);

	/* color of channels and icon buttons when hovered */
	--hover: hsla(230, 20%, 40%, 0.1);
	/* color of channels and icon buttons when clicked or selected */
	--active: hsla(220, 20%, 40%, 0.2);
	/* color of messages when hovered */
	--message-hover: hsla(220, 0%, 0%, 0.1);
}



/* user buttons */
:root .panels-3wFtMD > .container-YkUktl > .flex-2S1XBF {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 72px;
  padding: 20px 0 10px 0;
  flex-direction: column;
  background: linear-gradient(transparent, var(--background-tertiary) 15%);
}
:root .panels-3wFtMD > .container-YkUktl > .flex-2S1XBF > .button-12Fmur {
  color: var(--user-buttons-color);
  margin: var(--user-buttons-spacing) auto 0 auto;
  margin-left: 20px;
  margin-bottom: 10px;
}

/* read all button */
.lookFilled-1H2Jvj.colorBrand-2M3O3N {
    background-color: var(--active);
}

/* fix colors */
.mentioned-Tre-dv:before /* mention message left edge */,
.container-1QtPKm.checked-16gMAN /* settings checkbuttons */ {
	background: var(--accent-3) !important;
}

.numberBadge-37OJ3S /* dm unread number */ {
	background: var(--accent-2) !important;
	/* color: var(--bg-4); */
}

line[stroke="var(--status-danger)"] {
  stroke: var(--accent-5) !important; /* Cambia el color a verde (#00ff00) */
}

.strikethrough-2Kl6HF /* mute button strikethrough */ {
	color: var(--accent-2) !important;
}

.container-1QtPKm /* settings checkbuttons default */ {
	background: var(--bg-1) !important;
}

.clickable-vvKY2q .header-3OsQeK:hover, .selected-1GtAC5 .header-3OsQeK /* server name hover */ {
	background: var(--message-hover);
}
.divider-2rZFJK /* unread dividers */ {
	--divider-color: var(--accent-2);
}
.iconBadge-3Mmg92 /* dm button */ {
	background: var(--accent-2) !important;
}
.theme-dark .container-2IKOsH /* browse channels back */,
.theme-dark .header-3xB4vB /* browse channels header */,
.theme-dark .container-1um7CU /* browse channels body */,
.searchHeader-1r_ZSh /* search results number box */,
.wrapper-22rqw6 /* emoji selector server list */,
.chat-2ZfjoI.container-2YMsb4 /* message requests */ {
	background-color: var(--bg-4);
}
.wrapper-2RrXDg /* friend activity cards */,
.mainCard-3KBsBI /* forum posts and search */,
.container-3i3IzO /* thread embed */,
.embedFull-1HGV2S /* regular embeds like GitHub links */,
.attachment-1PZZB2 /* attachments */,
.textContainer-36wgKK /* embedded attachment text */,
.footer-GXWBBp /* embedded attachment footer */,
.hljs /* embedded attachment code */,
.markup-eYLPri code /* codeblocks */,
.hoverButtonGroup-2yZIzC /* download button on embeds */,
.messageContainer-3VTXBC /* inbox messages */,
.channelRow-4X_3fi /* browse channels channels */,
.container-18GwIk /* channel threads dropdown */,
.reaction-3vwAF2 /* reactions */,
.vc-plugins-card /* vencord plugins card */ {
	background: var(--bg-3);
}

.theme-dark .outer-2JOHae.active-1W_Gl9, .theme-dark .outer-2JOHae.interactive-2zD88a:hover /* friend activity cards on hover */,
.channelRow-4X_3fi:hover:not(.disabled-3cfocy) /* browse channels channel hover */ {
	background: var(--bg-2);
}

/* create/join a server modal color fix */
.layer-fP3xEz .theme-light {
	--background-primary: var(
		--bg-3
	); /* template buttons & create my own button */
	--modal-background: var(--bg-4); /* general background of the modal */
	--modal-footer-background: var(
		--bg-4
	); /* general background of the modal footer */
	--header-primary: var(--text-3); /* color of bolded headers */
	--header-secondary: var(--text-4); /* color of unbolded headers */
	--text-normal: var(--text-3); /* color of button text */
	--background-modifier-accent: none; /* remove borders */
	--background-modifier-hover: var(--bg-2); /* button hover */
	--background-modifier-active: var(--bg-1); /* button active */
	--button-secondary-background: var(--bg-2); /* join a server button */
	--button-secondary-background-active: var(--text-5);
	--button-secondary-background-hover: var(--bg-1);
	--input-background: var(--bg-3); /* background of the invite link textbox */
	--input-placeholder-text: var(
		--text-5
	); /* color of invite link textbox text */
}
.layer-fP3xEz .footerSeparator-3U8YsT /* remove footer separator border */,
.layer-fP3xEz .rootWithShadow-2hdL2J /* remove modal border */ {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.lookBlank-FgPMy6 .contents-3NembX /* fix back button */ {
	color: var(--text-4);
}
.layer-fP3xEz .input-m1-Y7Q /* remove input borderish thing */,
.layer-fP3xEz .rowContainer-3t7486 /* fix server discovery */ {
	background: var(--bg-3);
}

/* filter login image */
.artwork-L5TAwQ {
	filter: saturate(0.2) hue-rotate(-20deg) brightness(0.15);
}

/* Material status members */
rect[mask='url(#svg-mask-status-idle)'],
rect[mask='url(#svg-mask-status-dnd)'],
rect[mask='url(#svg-mask-status-offline)']{
    mask: url(#svg-mask-status-online);
}

/* Ocultar color */
.panels-3wFtMD {
    background-color: rgba(1, 1, 1, 0);
}

/* Divisor de secciones de servidores */
.sectionDivider-189lqb {
    background-color: var(--bg-4);
}

/* Avatar */
/* Posicionamiento y tamaño */
:root .panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW {
  position: fixed;
  bottom: 37px;
  left: 336px;
  z-index: 2;
  margin: 0;
  padding: 0;
  min-width: unset;
}
:root .panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW > .avatar-1EWyVD {
  width: 40px !important;
  height: 40px !important;
}
:root .panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW > .avatar-1EWyVD > svg {
  contain: unset;
}
.avatar-1EWyVD > svg{
    padding-left: 2px;
    width: 44px;
    height: 44px;
}

/* Esconde el container restante */
.container-YkUktl{
    height: 0%;
}
/* Quita el nombre etc */
:root .panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW > .avatar-1EWyVD + .nameTag-sc-gpq {
  display: none;
}
/* Mueve la barra del chat */
:root .chat-2ZfjoI .form-3gdLxP {
  padding-left: 66px;
}
:root .chat-2ZfjoI .form-3gdLxP .wrapper-2SplAX {
  z-index: unset;
}
:root .chat-2ZfjoI .form-3gdLxP .channelTextArea-1FufC0 .scrollableContainer-15eg7h::after,
:root .chat-2ZfjoI .form-3gdLxP .wrapper-2SplAX::after {
  position: absolute;
  content: "";
  bottom: 2px;
  left: -50px;
  width: 40px;
  height: 40px;
  background-color: var(--background-secondary);
  border-radius: calc(var(--avatar-radius) + 2px);
}
:root .typing-2J1mQU {
  left: 66px;
  right: 26px;
}
/* Emojis coloreados */
:root .sprite-2lxwfc {
  filter: var(--colored-emoji) !important;
}

/* Animación de moverse */
:root .guilds-2JjMmN.content-Pph8t6 + .base-2jDfDU .panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW {
  transition: margin-left 300ms ease-out;
}
:root .guilds-2JjMmN.content-Pph8t6:not(.closed-j55_T-) + .base-2jDfDU .panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW {
  margin-left: 72px;
}
:root .vc-bf-folder-sidebar + .base-2jDfDU .panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW {
  transition: margin-left 300ms ease-in-out;
}
:root .vc-bf-folder-sidebar + .base-2jDfDU .panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW {
  margin-left: 72px;
}
:root .sidebar-1tnWFu .avatarWrapper-1B9FTW {
  transition: margin-left 300ms ease-out;
}
:root .sidebar-1tnWFu.hideChannelElement .avatarWrapper-1B9FTW {
  margin-left: -240px;
}


/* add margin */
.content-1SgpWY /* outside edges */ {
	margin: 0 var(--spacing) var(--spacing) 0;
}
.sidebar-1tnWFu /* channel list and user panel */,
.content-1jQy2l /* between chat and member list */ {
	gap: var(--spacing);
}
.sidebar-1tnWFu /* channel list and chat */ {
	margin-right: var(--spacing);
}
.resizeHandle-PBRzPC /* pretend to be a margin */ {
	width: var(--spacing);
}
.wrapper-1gVUIN.fullScreen-KhZZcz /* fullscreen vc */ {
	margin-top: var(--spacing);
}

#vc-spotify-player /* vencord spotify */,
.container-1zzFcN /* vc panel */,
.panel-2ZFCRb /* stream panel */ {
	padding: 10px;
}

/* remove backgrounds to show gaps */
.sidebar-1tnWFu /* channel list and user panel */,
.chat-2ZfjoI /* chat and member list */ {
	background: none;
}

/* add rounded corners */
.container-1NXEtd /* channel list */,
.panels-3wFtMD /* user panels */,
.privateChannels-oVe7HL /* dms list */,
.container-2cd8Mz /* friends page */,
.chat-2ZfjoI /* blanket for main chat area */,
.chat-2ZfjoI.threadSidebarOpen-1LSXvU /* main chat with thread sidebar open */,
.container-3XgAHv /* thread */,
.applicationStore-2nk7Lo {
	border-radius: var(--roundness);
	overflow: hidden;
}
.chatContent-3KubbW /* main chat */,
.container-3wLKDe /* forum */,
.container-2o3qEW /* member list outer (when main chat) */,
.membersWrap-3NUR2t /* member list */,
.members-3WRCEx /* member list inner (when forum post) */ {
	border-radius: 0 0 var(--roundness) var(--roundness);
}

/* separate header bar */
.title-31SJ6t.themed-Hp1KC_ /* remove bg */ {
	background: none;
}
.searchResultsWrap-5RVOkx /* allow overflow */ {
	overflow: visible;
}
.chatContent-3KubbW::before /* main chat */,
.membersWrap-3NUR2t::before /* member list */,
.searchResultsWrap-5RVOkx::before /* search results */,
.profilePanel-2PWEok::before /* dm profile */,
.container-3wLKDe::before /* forum channel */,
.profilePanel-2VBkh8::before {
	content: '';
	position: absolute;
	margin-top: -48px;
	background-color: var(--background-primary);
	width: 100%;
	height: 48px;
	border-radius: var(--roundness) var(--roundness) 0 0;
}

/* rearrange toolbar */
.iconWrapper-2awDjA[aria-label='Bandeja de entrada'] /* hide bandeja de entrada */,
.iconWrapper-2awDjA[aria-label='Hilos'] /* hide hilos */,
.iconWrapper-2awDjA[aria-label='Ajustes de notificaciones'] /* hide ajustes de notis */,
.iconWrapper-2awDjA[aria-label='Vencord Toolbox'] /* hide vencord toolbox */,
.iconWrapper-2awDjA[aria-label='Ayuda'] /* hide help */ {
	display: none;
}
/* Eliminar botón de supresión de ruido*/
button[aria-label="Supresión de ruido de Krisp"] { display: none; }
/* Eliminar botón de añadir amigos superior derecha*/
div[aria-label="Añadir amigos a MD"] { display: none; }
/* Eliminar botón de bandeja de entrada superior derecha*/

.search-39IXmY /* push searchbar to right */ {
	order: 1;
}
.iconWrapper-2awDjA[aria-label='Show Member List'] /* push toggle buttons to right */, 
.iconWrapper-2awDjA[aria-label='Show User Profile'] {
	order: 1;
}
.iconWrapper-2awDjA[aria-label='Hide Member List'] /* add gap when member list/user profile open */,
.iconWrapper-2awDjA[aria-label='Hide User Profile'] {
	order: 1;
	margin-right: calc(24px + var(--spacing));
}
.chat-2ZfjoI:has(.searchResultsWrap-5RVOkx) .iconWrapper-2awDjA[aria-label='Show Member List'] /* add gap when search results */, 
.chat-2ZfjoI:has(.searchResultsWrap-5RVOkx) .iconWrapper-2awDjA[aria-label='Show User Profile'] {
	margin-right: calc(24px + var(--spacing));
}
.searchBar-jGtisZ /* make searchbar fit member list width */ {
	width: 208px !important;
}
.iconWrapper-2awDjA[aria-label='Hide User Profile'] ~ .search-39IXmY .searchBar-jGtisZ /* make searchbar fit user profile width */ {
	width: 308px !important;
}
.chat-2ZfjoI:has(.searchResultsWrap-5RVOkx) .searchBar-jGtisZ /* make searchbar fit search results width */ {
	width: 386px !important;
}

/* Botónes de descubrir */
.circleIconButton-1VxDrg{
      color: var(--accent-2);
}

/* Better settings */
body #app-mount .sidebar-nqHbhN:has(.socialLinks-3ywLUf), body #app-mount .layer-86YKbF ~ .layer-86YKbF .sidebar-nqHbhN:has(.socialLinks-3ywLUf) {
    width: calc(250px + (var(--use-settingsicons) * (var(--settingsicons-size) + var(--settingsicons-gap)))) !important;
    padding-left: 30px;
}

/* Colores de roles en perfiles en border */
:root{
  --roles-roundness: 0; /* change the 0 to any other number if you want the roles to be fully round */

  --roles-roundness-calc: calc((var(--roles-roundness) + .21) * 25px)
}
.role-2TIOKu {
  transform: translate(0);
  border: 0;
  border-radius: var(--roles-roundness-calc);
}
.role-2TIOKu .roleRemoveIcon-387wKV {
  margin: 0;
  left: unset;
  transform: translate(50%,-50%);
}
.role-2TIOKu .roleRemoveButton-17oXnT{position: static}
.role-2TIOKu .roleCircle-3TFUOr:before {
  content: '';
  top: 0;left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  background: inherit;
  border-radius: var(--roles-roundness-calc);
  border: 2px solid transparent;
  -webkit-mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
}

/* Iconos */
#vc-spotify-titles {
  margin-left: 11px;
}
#vc-spotify-song-title::before,
#vc-spotify-song-title + div::before,
#vc-spotify-song-title + div + div::before {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  padding: 7px;
  margin-left: -17px;
  margin-top: 2px;
  content: '';
  background-color: var(--header-primary);
  /* Spotify wave thingy fix */
  /*background-color: hsla(var(--spotify-vencord-text)/1);*/
  position: absolute;
}
#vc-spotify-song-title + div::before,
#vc-spotify-song-title + div + div::before {
   background-color: var(--header-secondary);
  /* Spotify wave thingy fix */
  /*background-color: hsla(var(--spotify-vencord-text)/1);*/
}

#vc-spotify-song-title::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-music-4'%3E%3Cpath d='M9 18V5l12-2v13'%3E%3C/path%3E%3Cpath d='m9 9 12-2'%3E%3C/path%3E%3Ccircle cx='6' cy='18' r='3'%3E%3C/circle%3E%3Ccircle cx='18' cy='16' r='3'%3E%3C/circle%3E%3C/svg%3E");
}
#vc-spotify-song-title + div::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-mic'%3E%3Cpath d='M12 2a3 3 0 0 0-3 3v7a3 3 0 0 0 6 0V5a3 3 0 0 0-3-3Z'%3E%3C/path%3E%3Cpath d='M19 10v2a7 7 0 0 1-14 0v-2'%3E%3C/path%3E%3Cline x1='12' x2='12' y1='19' y2='22'%3E%3C/line%3E%3C/svg%3E");
}
#vc-spotify-song-title + div + div::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-disc-2'%3E%3Ccircle cx='12' cy='12' r='4'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='12' x2='12' y2='12.01'%3E%3C/line%3E%3C/svg%3E");
}

/* @ en los nuevos nombres */
:is([class*=userTagWithNickname], [class*=nameTagSmall]) span:only-child:before {
    content: '@';
}

/* Sin leer bola */
[class*="unreadRelevant"] {
    margin-top: -0.5%;
    margin-left: 3%;
    border-radius: 1rem;
    opacity: 75%;
}
.unread-36eUEm {
    height: 4px;
}

/* Picture in picture cambiar tamaño
 * To resize with mouse, first drag miniplayer to top left */
[class*=pictureInPictureVideo-] {
  /* default values */
  width:  320px;
  height: 180px;
  resize: both;
}

/* Reduced enhanced markdown margins */
[class^=message] [id^=message-content] :is(h1, h2, h3, li) {
  margin: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
}

[class^=message] [id^=message-content] :is(ol, ul) {
  margin-top: 0px;
}

/* Quita iconos de canales */
[id="channels"] [class^=iconContainer-]:not([aria-label^=Voice]) { display: none }
[id="channels"] [class^=iconContainer-][aria-label^=Voice] {
  scale: 75%;
  position: absolute;
  left: -5px
}

/*Remove Invite Button next to channel name*/
.actionIcon-2sw4Sl {
    display: none;
}


/* voice user animation */
.voiceUser-3nRK-K {
	animation: voiceUser 0.5s ease-in-out;
}
@keyframes voiceUser {
	from {
		transform: translateX(20px);
		opacity: 0;
	}
	to {
		transform: translateX(0px);
		opacity: 1;
	}
}

/* Bot Tag */
.botTag-2mryIa {
    background-color: var(--hover);
}

/* Better folders icon */
path[d="M20 7H12L10.553 5.106C10.214 4.428 9.521 4 8.764 4H3C2.447 4 2 4.447 2 5V19C2 20.104 2.895 21 4 21H20C21.104 21 22 20.104 22 19V9C22 7.896 21.104 7 20 7Z"] {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    d: path("m6 14 1.45-2.9A2 2 0 0 1 9.24 10H20a2 2 0 0 1 1.94 2.5l-1.55 6a2 2 0 0 1-1.94 1.5H4a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h3.93a2 2 0 0 1 1.66.9l.82 1.2a2 2 0 0 0 1.66.9H18a2 2 0 0 1 2 2v2");
}

/* Spotify Covers Go Wheeeee by frog machine/Overimagine#0001 */
/* profile */
#vc-spotify-player #vc-spotify-album-image {
  border-radius: 50%;
  border: 2px solid var(--accent-1); /* Add any color you like */
}
/* epic :has() function by AkiraSimplex */
body:has(.vc-spotify-pause) #vc-spotify-player #vc-spotify-album-image {
  animation: spin 20s linear infinite;
  border: 2px solid var(--accent-1); /* Add any color you like */
}
/* the animation  */
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* In case you want to change the shape of channel indicators */
.iconContainer-21RCa3 {
    width: 6px;
  height: 6px;
  margin-right: 10px !important;
  margin-left: 8px !important;
  margin: 0px;
    border-radius: 100%;
}

/* Color for unread channels */
.unread-36eUEm {
    background-color: #f3d56a; /* Change color here */
    width: 6px;
    height: 6px;
    top: 12px;
    margin-left: 10px !important;
    margin: 0px;
    border-radius: 100%;
}

/* hide spotify progress bar grabber */
#vc-spotify-progress-bar>[class^=slider] [class^=grabber] {
  background-color: #00000000 !important;
  border-color: #00000000 !important;
  box-shadow: none !important;
}
#vc-spotify-progress-bar>[class^=slider] [class^=grabber]:hover {
  background-color: #bbb !important;
  border-color: #bbb !important;
  box-shadow: 0 3px 1px 0 hsl(var(--black-500-hsl)/.05),0 2px 2px 0 hsl(var(--black-500-hsl)/.1),0 3px 3px 0 hsl(var(--black-500-hsl)/.05) !important;
}

/* Change Vencord's Spotify Controller's Shuffle/Repeat Button Color */
.vc-spotify-button {
    --vc-spotify-green: var(--accent-1); /* Change the value here */    
}

/* Hide Super Reaction Button */
[id="message-add-reaction-1"] {
  display: none;
}

/* Pistola emoji */
.emoji[alt="🔫"] {
  content: url("https://cdn.discordapp.com/emojis/808512495794520114.webp?size=1024&quality=lossless")
}

/* Login background artwork */
svg.artwork-L5TAwQ {
    display: none !important;
    visibility: hidden !important;
}

/* Blur en info personal */
[class^="field"]:nth-child(n+3) > [class^="constrainedRow"] > div > div {
    filter: blur(4px);
    transition: filter 0.1s ease-in-out;
}
[class^="field"]:nth-child(n+3) > [class^="constrainedRow"] > div > div:hover {
    filter: none;
}
[class*="formText"]:has([class*="phoneRevealer"]) {
    display: none;
}

/* Cambio de icono de reacción */
path[d^="M12.1151 2.00065C12.0768 2.00022 12.0384 2 12 2C6.477 2 2 6.477 2 12C2 17.522 6.477 22 12 22C17.523 22 22 17.522 22 12C22 11.9616 21.9998 11.9232 21.9993 11.8849C21.1882 12.1737 20.3146 12.3309 19.4043 12.3309C15.1323 12.3309 11.6691 8.86771 11.6691 4.59565C11.6691 3.68536 11.8263 2.8118 12.1151 2.00065ZM7.92105 11.8023C7.92105 12.7107 7.18468 13.4471 6.27631 13.4471C5.36795 13.4471 4.63158 12.7107 4.63158 11.8023C4.63158 10.894 5.36795 10.1576 6.27631 10.1576C7.18467 10.1576 7.92105 10.894 7.92105 11.8023ZM10.5217 14.5171C10.3859 13.9893 9.84786 13.6716 9.32005 13.8074C8.79223 13.9433 8.47448 14.4813 8.61033 15.0091C9.01196 16.5695 10.4273 17.7236 12.1147 17.7236C13.8021 17.7236 15.2174 16.5695 15.6191 15.0091C15.7549 14.4813 15.4372 13.9433 14.9093 13.8074C14.3815 13.6716 13.8435 13.9893 13.7077 14.5171C13.525 15.2267 12.8797 15.7499 12.1147 15.7499C11.3497 15.7499 10.7044 15.2267 10.5217 14.5171Z"] {
  d: path('m12 2c-5.523 0-10 4.477-10 10 0 5.522 4.477 10 10 10 5.523 0 10-4.478 10-10 0-0.0384 5e-4 -0.076283 0-0.11458-0.8111 0.2888-1.6861 0.44531-2.5964 0.44531-4.272 0-7.7344-3.4623-7.7344-7.7344 0-0.91029 0.15651-1.7852 0.44531-2.5964-0.0383-4.3e-4 -0.076183 0-0.11458 0zm-5.724 8.1589c0.90836 0 1.6458 0.73493 1.6458 1.6432 0 0.9084-0.73747 1.6458-1.6458 1.6458-0.90836 0-1.6432-0.73744-1.6432-1.6458 0-0.9083 0.73487-1.6432 1.6432-1.6432zm1.8438 5.5729c0.25251-0.015862 0.50575 0.10482 0.65625 0.30729 0.16198 0.27381 0.19805 0.62398 0.45833 0.84115 0.46684 0.49753 1.3278 0.49756 1.7969 0.002604 0.32446-0.24897 0.26914-0.72458 0.58333-0.97396 0.37809-0.34531 1.0417-0.15559 1.2031 0.32292 0.044428 0.30618 0.19507 0.59846 0.4349 0.79948 0.5078 0.4671 1.3751 0.3905 1.8047-0.14583 0.28002-0.28144 0.22165-0.77826 0.61458-0.96615 0.48615-0.31512 1.1969 0.12779 1.1406 0.70052-0.15245 0.89083-0.79763 1.6681-1.625 2.0208-1.039 0.47433-2.3482 0.20498-3.1224-0.63281-0.50839 0.48608-1.2025 0.77285-1.9062 0.78125-1.2196 0.029143-2.3898-0.83972-2.7135-2.0156-0.19722-0.46057 0.17468-1.0315 0.67448-1.0417z');
}

/* Unrestrict max width */
[class^=embedFull] > [class^=gridContainer] {
  max-width: 100%;
}

/* Quita el botón de actividad del dentro de la llamada */
.buttonContainer-1sjtPU{
  display: none;
}

/* Quita notificación de nuevos emotes en la lista de emotes */
#emoji-picker-tab-panel :is([class^=badgeLabel-], [class^=newlyAddedBadge]) {
    display: none;
}

[class^=newlyAddedHighlight], [class^=newlyAddedHighlight]:hover {
    border: none;
}

/* Eliminar botónes de gifs, stickers, regalos, hilos, ajustes de notificaciones de la barra de mensajes */
button[aria-label="Abrir selector de stickers"] { display: none; }
button[aria-label="Enviar un regalo"] { display: none; }
button[aria-label="Abrir selector de GIFs"] { display: none; }
div[aria-label="Hilos"] { display: none; }
div[aria-label="Ajustes de notificaciones"] { display: none; }

/* remove shadows */
.content-1jQy2l::before /* main chat header */, 
.tabBody-2dgbAs::before /* friend list header */,
.chat-1-OBC7::before /* voice channel chat header */,
.headerBar-1dSpQr:before /* nitro page header */,
.searchBar-3TnChZ /* dm list header */,
.header-3OsQeK /* channel list header */,
.header-uVCAlo /* sticker panel header */,
.header-2TLOnc /* gif panel header */,
.header-11eigE /* emoji panel header */,
.theme-dark .separator-3C440w /* events panel */,
.chat-25x62K:before /* forum post header */ {
	box-shadow: none !important;
}
.children-3xh0VB:after  /* toolbar shadow */ {
	background: none !important;
}

/* only show scrollbar when hover */
.auto-2TJ1RH:hover::-webkit-scrollbar-thumb,
.auto-2TJ1RH:hover::-webkit-scrollbar-track {
	visibility: visible;
}
.auto-2TJ1RH::-webkit-scrollbar-thumb,
.auto-2TJ1RH::-webkit-scrollbar-track {
	visibility: hidden;
}

/* top corner title */
.wordmarkWindows-2dq6rw svg {
	display: none;
}
.wordmarkWindows-2dq6rw::after {
	content: 'DarkCloud';
	display: block;
	position: relative;
	width: 200px;
	height: 16px;
	line-height: 16px;
	font-family: var(--font-headline);
	font-size: 11px;
	font-weight: 600;
	color: var(--text-5);
}

/* window controls */
.withFrame-2dL45i {
	height: 20px;
}
.typeWindows-2-g3UY .winButton-3UMjdg > svg {
	display: none;
}
.typeWindows-2-g3UY .winButton-3UMjdg {
	top: 0;
	width: 12px;
	height: 12px;
	margin: 2px 12px 0px 0px;
	border-radius: 12px;
}
.typeWindows-2-g3UY .winButton-3UMjdg::after {
	content: '';
	height: 12px;
	width: 12px;
	border-radius: 12px;
}
.typeWindows-2-g3UY .winButtonClose-3Q8ZH5::after {
	background-color: hsl(350, 50%, 50%) !important;
}
.typeWindows-2-g3UY .winButtonMinMax-3RsPUg:nth-child(3)::after {
	background-color: hsl(150, 50%, 50%) !important;
}
.typeWindows-2-g3UY .winButtonMinMax-3RsPUg:nth-child(4)::after {
	background-color: hsl(50, 50%, 50%) !important;
}
.typeWindows-2-g3UY > div:hover::after {
	transform: scale(1.1);
}
.typeWindows-2-g3UY > div:active::after {
	transform: scale(1);
}

.theme-dark {
	--activity-card-background: blue;
	--android-navigation-bar-background: blue;
	--android-navigation-scrim-background: blue;
	--android-ripple: blue;
	--background-accent: var(--bg-1);
	--background-floating: var(--primary-800);
	--background-mentioned: var(--mention);
	--background-mentioned-hover: var(--mention-hover);
	--background-message-automod: hsl(var(--red-400-hsl) / 0.05);
	--background-message-automod-hover: hsl(var(--red-400-hsl) / 0.1);
	--background-message-highlight: hsl(var(--brand-360-hsl) / 0.08);
	--background-message-highlight-hover: hsl(var(--brand-360-hsl) / 0.06);
	--background-message-hover: var(--message-hover);
	--background-mobile-primary: var(--bg-4);
	--background-mobile-secondary: var(--bg-3);
	--background-modifier-accent: var(--bg-3);
	--background-modifier-active: var(--active);
	--background-modifier-hover: var(--hover);
	--background-modifier-selected: var(--active);
	--background-nested-floating: blue;
	--background-primary: var(--bg-4);
	--background-secondary: var(--bg-4);
	--background-secondary-alt: var(--bg-4);
	--background-tertiary: var(--bg-3);
	--black: var(--black-500);
	--border-strong: hsl(var(--white-500-hsl) / 0.16);
	--border-subtle: hsl(var(--white-500-hsl) / 0.08);
	--bug-reporter-modal-submitting-background: hsl(
		var(--primary-800-hsl) / 0.6
	);
	--button-creator-revenue-background: var(--teal-430);
	--button-danger-background: var(--red-430);
	--button-danger-background-active: var(--red-530);
	--button-danger-background-disabled: var(--red-430);
	--button-danger-background-hover: var(--red-500);
	--button-outline-brand-background: hsl(var(--white-500-hsl) / 0);
	--button-outline-brand-background-active: var(--brand-560);
	--button-outline-brand-background-hover: var(--brand-500);
	--button-outline-brand-border: var(--brand-500);
	--button-outline-brand-border-active: var(--brand-560);
	--button-outline-brand-border-hover: var(--brand-500);
	--button-outline-brand-text: var(--white-500);
	--button-outline-brand-text-active: var(--white-500);
	--button-outline-brand-text-hover: var(--white-500);
	--button-outline-danger-background: hsl(var(--white-500-hsl) / 0);
	--button-outline-danger-background-active: var(--red-460);
	--button-outline-danger-background-hover: var(--red-430);
	--button-outline-danger-border: var(--red-400);
	--button-outline-danger-border-active: var(--red-430);
	--button-outline-danger-border-hover: var(--red-430);
	--button-outline-danger-text: var(--white-500);
	--button-outline-danger-text-active: var(--white-500);
	--button-outline-danger-text-hover: var(--white-500);
	--button-outline-positive-background: hsl(var(--white-500-hsl) / 0);
	--button-outline-positive-background-active: var(--green-530);
	--button-outline-positive-background-hover: var(--green-430);
	--button-outline-positive-border: var(--green-360);
	--button-outline-positive-border-active: var(--green-530);
	--button-outline-positive-border-hover: var(--green-430);
	--button-outline-positive-text: var(--white-500);
	--button-outline-positive-text-active: var(--white-500);
	--button-outline-positive-text-hover: var(--white-500);
	--button-outline-primary-background: none;
	--button-outline-primary-background-active: var(--bg-1);
	--button-outline-primary-background-hover: var(--bg-2);
	--button-outline-primary-border: var(--bg-1);
	--button-outline-primary-border-active: var(--bg-1);
	--button-outline-primary-border-hover: var(--bg-2);
	--button-outline-primary-text: var(--text-3);
	--button-outline-primary-text-active: var(--text-2);
	--button-outline-primary-text-hover: var(--text-2);
	--button-positive-background: var(--green-430);
	--button-positive-background-active: var(--green-530);
	--button-positive-background-disabled: var(--green-430);
	--button-positive-background-hover: var(--green-500);
	--button-secondary-background: var(--bg-2);
	--button-secondary-background-active: var(--text-5);
	--button-secondary-background-disabled: var(--bg-3);
	--button-secondary-background-hover: var(--bg-1);
	--channel-icon: var(--text-4);
	--channel-text-area-placeholder: var(--text-5);
	--channels-default: var(--text-4);
	--channeltextarea-background: var(--bg-3);
	--chat-background: blue;
	--chat-border: blue;
	--chat-input-container-background: blue;
	--control-brand-foreground: var(--brand-360);
	--control-brand-foreground-new: var(--brand-360);
	--creator-revenue-icon-gradient-end: var(--teal-430);
	--creator-revenue-icon-gradient-start: var(--teal-360);
	--creator-revenue-info-box-background: hsl(var(--teal-430-hsl) / 0.1);
	--creator-revenue-info-box-border: var(--teal-400);
	--creator-revenue-locked-channel-icon: var(--teal-345);
	--creator-revenue-progress-bar: var(--teal-400);
	--deprecated-card-bg: hsl(var(--primary-700-hsl) / 0.6);
	--deprecated-card-editable-bg: hsl(var(--primary-700-hsl) / 0.3);
	--deprecated-quickswitcher-input-background: var(--primary-400);
	--deprecated-quickswitcher-input-placeholder: hsl(
		var(--white-500-hsl) / 0.3
	);
	--deprecated-store-bg: var(--primary-600);
	--deprecated-text-input-bg: var(--primary-700);
	--deprecated-text-input-border: hsl(var(--black-500-hsl) / 0.3);
	--deprecated-text-input-border-disabled: var(--primary-700);
	--deprecated-text-input-border-hover: var(--primary-900);
	--deprecated-text-input-prefix: var(--primary-200);
	--display-banner-overflow-background: hsl(var(--primary-700-hsl) / 0.5);
	--divider-strong: hsl(var(--white-500-hsl) / 0.16);
	--divider-subtle: hsl(var(--white-500-hsl) / 0.08);
	--focus-primary: var(--blue-345);
	--forum-post-extra-media-count-container-background: hsl(
		var(--primary-660-hsl) / 0.8
	);
	--forum-post-tag-background: hsl(var(--primary-660-hsl) / 0.9);
	--header-primary: var(--text-2);
	--header-secondary: var(--text-4);
	--home-background: var(--bg-4);
	--home-card-resting-border: none;
	--info-box-background: hsl(var(--blue-345-hsl) / 0.1);
	--info-danger-background: hsl(var(--red-400-hsl) / 0.1);
	--info-danger-foreground: var(--red-400);
	--info-danger-text: var(--white-500);
	--info-help-background: hsl(var(--blue-345-hsl) / 0.1);
	--info-help-foreground: var(--blue-345);
	--info-help-text: var(--white-500);
	--info-positive-background: hsl(var(--green-360-hsl) / 0.1);
	--info-positive-foreground: var(--green-360);
	--info-positive-text: var(--white-500);
	--info-warning-background: hsl(var(--yellow-300-hsl) / 0.1);
	--info-warning-foreground: var(--yellow-300);
	--info-warning-text: var(--white-500);
	--input-background: var(--bg-3);
	--input-placeholder-text: var(--text-5);
	--interactive-active: var(--text-3);
	--interactive-hover: var(--text-3);
	--interactive-muted: var(--text-5);
	--interactive-normal: var(--text-4);
	--live-stage-tile-border: hsl(var(--primary-500-hsl) / 0.6);
	--logo-primary: var(--white-500);
	--mention-background: var(--mention);
	--mention-foreground: var(--brand-260);
	--modal-background: var(--bg-4);
	--modal-footer-background: var(--bg-4);
	--profile-gradient-message-input-border: hsl(var(--primary-500-hsl) / 0.48);
	--profile-gradient-note-background: hsl(var(--black-500-hsl) / 0.3);
	--profile-gradient-overlay: hsl(var(--black-500-hsl) / 0.6);
	--profile-gradient-overlay-synced-with-user-theme: hsl(
		var(--black-500-hsl) / 0.8
	);
	--profile-gradient-profile-body-background-hover: hsl(
		var(--white-500-hsl) / 0.16
	);
	--profile-gradient-role-pill-background: hsl(var(--primary-660-hsl) / 0.5);
	--profile-gradient-role-pill-border: hsl(var(--white-500-hsl) / 0.2);
	--profile-gradient-section-box: hsl(var(--black-500-hsl) / 0.45);
	--redesign-activity-card-background: var(--primary-560);
	--redesign-activity-card-background-pressed: var(--primary-630);
	--redesign-activity-card-border: hsl(var(--white-500-hsl) / 0.02);
	--redesign-button-danger-background: var(--red-430);
	--redesign-button-danger-pressed-background: var(--red-460);
	--redesign-button-danger-text: var(--white-500);
	--redesign-button-overlay-alpha-background: hsl(
		var(--black-500-hsl) / 0.54
	);
	--redesign-button-overlay-alpha-pressed-background: hsl(
		var(--black-500-hsl) / 0.64
	);
	--redesign-button-overlay-alpha-text: var(--white-500);
	--redesign-button-overlay-background: var(--white-500);
	--redesign-button-overlay-pressed-background: var(--primary-230);
	--redesign-button-overlay-text: var(--primary-860);
	--redesign-button-positive-background: var(--green-430);
	--redesign-button-positive-pressed-background: var(--green-460);
	--redesign-button-positive-text: var(--white-500);
	--redesign-button-primary-alt-background: hsl(var(--brand-500-hsl) / 0);
	--redesign-button-primary-alt-border: var(--brand-360);
	--redesign-button-primary-alt-on-blurple-background: hsl(
		var(--brand-530-hsl) / 0
	);
	--redesign-button-primary-alt-on-blurple-border: var(--white-500);
	--redesign-button-primary-alt-on-blurple-pressed-background: var(
		--brand-530
	);
	--redesign-button-primary-alt-on-blurple-pressed-border: var(--brand-360);
	--redesign-button-primary-alt-on-blurple-text: var(--white-500);
	--redesign-button-primary-alt-pressed-background: hsl(
		var(--brand-700-hsl) / 0.16
	);
	--redesign-button-primary-alt-pressed-border: hsl(
		var(--brand-400-hsl) / 0.5
	);
	--redesign-button-primary-alt-pressed-text: var(--brand-360);
	--redesign-button-primary-alt-text: var(--brand-360);
	--redesign-button-primary-background: var(--brand-500);
	--redesign-button-primary-on-blurple-background: var(--white-500);
	--redesign-button-primary-on-blurple-pressed-background: var(--brand-200);
	--redesign-button-primary-on-blurple-pressed-text: var(--brand-530);
	--redesign-button-primary-on-blurple-text: var(--brand-500);
	--redesign-button-primary-pressed-background: var(--brand-560);
	--redesign-button-primary-text: var(--white-500);
	--redesign-button-secondary-alt-background: var(--primary-530);
	--redesign-button-secondary-alt-pressed-background: var(--primary-560);
	--redesign-button-secondary-alt-text: var(--white-500);
	--redesign-button-secondary-background: var(--primary-460);
	--redesign-button-secondary-border: var(--primary-460);
	--redesign-button-secondary-pressed-background: var(--primary-500);
	--redesign-button-secondary-pressed-border: var(--primary-500);
	--redesign-button-secondary-text: var(--white-500);
	--redesign-input-control-selected: var(--brand-500);
	--redesign-only-background-active: var(--primary-530);
	--redesign-only-background-default: var(--primary-700);
	--redesign-only-background-overlay: var(--primary-600);
	--redesign-only-background-raised: blue;
	--redesign-only-background-sunken: var(--primary-800);
	--scrollbar-auto-scrollbar-color-thumb: var(--bg-3);
	--scrollbar-auto-scrollbar-color-track: transparent;
	--scrollbar-auto-thumb: var(--bg-3);
	--scrollbar-auto-track: transparent;
	--scrollbar-thin-thumb: var(--bg-3);
	--scrollbar-thin-track: transparent;
	--spoiler-hidden-background: var(--bg-3);
	--spoiler-revealed-background: var(--bg-3);
	--status-danger: var(--red-400);
	--status-danger-background: var(--red-400);
	--status-danger-text: var(--white-500);
	--status-dnd: var(--red-400);
	--status-idle: var(--yellow-300);
	--status-offline: var(--primary-360);
	--status-online: var(--green-360);
	--status-positive: var(--green-360);
	--status-positive-background: var(--accent-3);
	--status-positive-text: var(--white-500);
	--status-warning: var(--yellow-300);
	--status-warning-background: var(--yellow-300);
	--status-warning-text: var(--black-500);
	--text-brand: var(--brand-360);
	--text-danger: var(--red-345);
	--text-link: var(--blue-345);
	--text-link-low-saturation: var(--blue-330);
	--text-muted: var(--text-5);
	--text-normal: var(--text-3);
	--text-positive: var(--green-330);
	--text-warning: var(--yellow-300);
	--textbox-markdown-syntax: var(--text-4);
	--user-profile-header-overflow-background: hsl(
		var(--primary-700-hsl) / 0.5
	);
	--white-500: var(--text-1);
	--blue-345: var(--accent-1);
	--brand-260: var(--accent-2);
	--brand-360: var(--accent-2);
	--brand-500: var(--accent-3);
	--brand-560: var(--accent-4);
	--brand-600: var(--accent-5);

	--primary-130: var(--text-2);
	--primary-230: var(--text-3);
	--primary-330: var(--text-4);
	--primary-360: var(--text-4);
	--primary-400: var(--text-4);
	--primary-430: var(--text-5);
	--primary-500: var(--text-5);
	--primary-530: var(--text-5);
	--primary-560: var(--bg-3);
	--primary-600: var(--bg-4);
	--primary-645: var(--bg-4);
	--primary-630: var(--bg-4);
	--primary-660: var(--bg-4);
	--primary-700: var(--bg-3);
	--primary-730: var(--bg-3);
	--primary-800: var(--bg-3);

	--search-popout-option-fade: none;
	--search-popout-option-fade-hover: none;
}
