@import url('https://comfy-themes.github.io/Discord/betterdiscord/main.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://comfy-themes.github.io/Discord/betterdiscord/better-spotify.css');

:root {
  --mention-color-bar: #77DD77;
  --mention-color-background: rgb(150,111,214,0.13);
  --mention-color-hover: rgb(150,111,214,0.07);
  --mention-color: #77DD77;
  --unread-color: #77DD77;
  --chat-buttons: #77DD77;
  --avatar-radius: 14px;
  --status-radius: 10px;
  --server-radius: 18px;
  --status-background: url('https://i.imgur.com/ODa8LKK.jpg');
  --online: #00E97F;
  --iddle: #FAA61A;
  --dnd: #F04747;
  --offline: #747F8D;
  --streaming: #593695;
  --spotify-color: #1EDC62;
  --user-buttons-spacing: 8px;
  --user-buttons-color: #77DD77;
  --role-circle: 8px;
  --discord-logo: block;
  --colored-emoji: grayscale(0%);
  --disable-animations: 2s channel-unread infinite;
  --home-button-image: url('https://media.discordapp.net/attachments/521060135901069329/1130614113278623814/2FPZAaj.png?width=701&height=701');
}

.theme-dark {
  --background-primary: #161616;
  --background-secondary: #101010;
  --background-secondary-alt: #101010;
  --background-tertiary: #0C0C0C;
  --background-mobile-primary: #77DD77;
  --background-mobile-secondary: #101010;
  --channeltextarea-background: #2B2B2B;
  --background-accent: #77DD77;
  --background-modifier-hover: rgb(255,255,255,0.05);
  --background-modifier-active: rgb(150,111,214,0.16862745098039217);
  --background-modifier-selected: rgb(150,111,214,0.09019607843137255);
  --deprecated-card-bg: rgb(16,16,16,0.81);
  --background-floating: rgb(16,16,16,1);
  --deprecated-quickswitcher-input-background: #101010;
  --scrollbar-auto-thumb: #77DD77;
  --scrollbar-auto-track: #1B1B1B;
  --scrollbar-thin-thumb: #1B1B1B;
  --activity-card-background: #101010;
  --background-message-hover: transparent;
  --elevation-low: none;
}

.theme-light {
  --background-primary: #23283D;
  --background-secondary: #1E2233;
  --background-secondary-alt: #191F2E;
  --background-tertiary: #101320;
  --background-accent: #7289DA;
  --background-modifier-hover: #262B41;
  --background-modifier-active: #262B41;
  --header-primary: #fff;
  --header-secondary: #B1B5B9;
  --text-normal: #8E9297;
}

/* Categorías 1px más grande */
.container-q97qHp {
  font-size: 13px;
  font-weight: bold;
}

/* Miembros */
/* unfocused-within membersWrap width */
[class*="membersWrap-"] {
    min-width: var(--member-list-width);
    transition: ease-in-out var(--member-list-transition);
}

[class*="membersWrap-"] [class*="members-"] {
    width: var(--member-list-width);
}

/* focused-within membersWrap width */
[class*="membersWrap-"]:focus-within [class*="members-"] {
    width: var(--member-list-focused-width);
    transition: ease-in var(--member-list-focused-transition);
}

/* pointer eventers */
[class*="membersWrap-"]:not(:focus-within) [class*="members-"] {
    cursor: pointer;
}

[class*="membersWrap-"]:not(:focus-within) [class*="members-"]>* {
    pointer-events: none;
}

/* hide user role category when not focus-within */
[class*="membersWrap-"]:not(:focus-within) [class*="membersGroup-"] {
    opacity: 0%;
    height: 0px;
    transition: ease-out var(--member-list-transition);
}

[class*="membersWrap-"]:not(:focus-within) [class*="membersGroup-"]:first-of-type {
    padding: 10px 8px 0px 16px;
    content: "searchhhhh"
}

[class*="membersWrap-"]:not(:focus-within) [class*="membersGroup-"]:not(:first-of-type) {
    padding: 0px 8px 0px 16px;
}

/* membersWrap height for not focus-within */
[class*="membersWrap-"]:not(:focus-within) [class*="content-"][aria-label="Members"] {
    height: 100vh !important;
}

/* hide notes in private threads */
[class*="membersWrap-"]:not(:focus-within) [class*="content-"] [aria-label="Members"]>[class*="private-"]~div:last-child,
[class*="membersWrap-"]:not(:focus-within) [class*="content-"] [aria-label="Members"]>[class*="divider-"],
[class*="membersWrap-"]:not(:focus-within) [class*="content-"] [aria-label="Members"]>[class*="private-"] {
    opacity: 0%;
    transition: ease-out calc(var(--member-list-transition) - 0.5s);
}

/* Quita iconos feos de servidor */
[class*="rowGuildName-"] [class^="flowerStarContainer-"] {
  display: none;
}

/* Ranita */
[class^="panels-3wFtMD"]::before {
    content: "";
    width: 47px;
    height: 47px;
    left: 183px;
    margin-top: -47px;
    position: absolute;
    background-image: url('https://media.discordapp.net/attachments/521060135901069329/1130607183466352651/2QHIXWU.gif');
}

/* -- Spotify Mod -- */

    /* Spotify Color Theme */
#vc-spotify-player {
  --spotify-wave-width: 240px;
  --spotify-vencord-color: var(--background-accent); /* change wave and player color */
  --spotify-vencord-text: #ffffff; /* change text and barfill color */
}
    /* Magic work by AkiraSimplex, Blade0, Rhombus */
@keyframes spotifywave {
  0% {
    -webkit-mask-position-x: var(--spotify-wave-width);
  }

  100% {
    -webkit-mask-position-x: 0;
  }
}
#vc-spotify-player::before {
  content: "";
  position: absolute;
  height: 25px;
  z-index: 1;
  width: var(--spotify-wave-width);
  margin-top: -34px;
  left: 0;
  background: var(--spotify-vencord-color);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="240" height="25" viewBox="0 0 284 25"><path d="M283.999 15.2776C228.798 15.2776 211.243 -0.0317305 140.048 -0.000164877C69.0475 -0.000164877 51.2975 15.2776 8.58307e-06 15.2776V24.9998H284C284 24.9998 283.999 18.9392 283.999 15.2776Z"/></svg>');
  animation: spotifywave 3s linear infinite;
  animation-delay: 0s;
}
#vc-spotify-player#vc-spotify-player  {
  border-bottom: none;
  margin-top: 36px;
  }
#vc-spotify-song-title#vc-spotify-song-title,
.vc-spotify-ellipoverflow.vc-spotify-ellipoverflow,
.vc-spotify-artist.vc-spotify-artist,
.vc-spotify-album.vc-spotify-album, .colorStandard-1Xxp1s
{
  color: var(--spotify-vencord-text);
}
#vc-spotify-player [class*="barFill"] {
  background: var(--spotify-vencord-text);
}
[class*=wrapper-]:not(:empty) + #vc-spotify-player {
  margin-top: 27px;
}
[class*=panels-] [class*=wrapper-] [class*=container-] {
  border-bottom: none;
}

.vc-spotify-shuffle-off.vc-spotify-shuffle-off,
.vc-spotify-pause,
.vc-spotify-play,
.vc-spotify-next,
.vc-spotify-previous,
.vc-spotify-repeat-off.vc-spotify-repeat-off
{
  color: whitesmoke;
}
.vc-spotify-shuffle-on.vc-spotify-shuffle-on,
.vc-spotify-repeat-context.vc-spotify-repeat-context,
.vc-spotify-repeat-track.vc-spotify-repeat-track,
.vc-spotify-shuffle-on.vc-spotify-shuffle-on:hover,
.vc-spotify-repeat-context.vc-spotify-repeat-context:hover,
.vc-spotify-repeat-track.vc-spotify-repeat-track:hover
 {
  color: var(--background-accent);
}

.vc-spotify-button.vc-spotify-button {
  transition: background 0.3s;
}
.vc-spotify-button.vc-spotify-button:hover {
  background: hsl(var(--primary-700-hsl)/0.3);
}

.barFill-3RgCsY {
  background: var(--bg-overlay-1, var(--background-secondary-alt));
  background: #1b1b1b !important; 
  overflow: visible;
}
.barFill-3RgCsY::after {
  content: '';
    height: 9px;
    -webkit-mask-size: 30px 9px;
    transform: translateY(-2.5px);
    animation: barwave 2s linear infinite;
    background: var(--brand-experiment);
    background: var(--background-accent);
    position: absolute;
    width: inherit;
    height: 3px;
    top: calc(25% - -3.1px);
    overflow: visible;
}
#vc-spotify-progress-bar>[class^=slider] [class^=bar-][class^=bar-] {
  overflow: visible;
  background: #1b1b1b;

  height: 3px !important;
  transform: translateY(0.5px);
}
