/**
 * @name materialW
 * @author Nyria#3863
 * @version 2.2
 * @description Stay comfy while talking to your friends.
 * @invite rtBQX5D3bD
 * @source https://github.com/NYRI4/Comfy
 * @BDEditor Comfy
*/

@import url('https://comfy-themes.github.io/Discord/betterdiscord/main.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://comfy-themes.github.io/Discord/betterdiscord/better-spotify.css');
@import url('https://dablulite.github.io/css-snippets/AccountDetailsGrid/import.css');

:root {
  --mention-color-bar: #966FD6;
  --mention-color-background: rgb(150,111,214,0.13);
  --mention-color-hover: rgb(150,111,214,0.07);
  --mention-color: #966FD6;
  --unread-color: #966FD6;
  --chat-buttons: #A67FE5;
  --avatar-radius: 14px;
  --status-radius: 10px;
  --server-radius: 18px;
  --status-background: url('https://i.imgur.com/ODa8LKK.jpg');
  --online: #00E97F;
  --iddle: #FAA61A;
  --dnd: #F04747;
  --offline: #747F8D;
  --streaming: #593695;
  --spotify-color: #1EDC62;
  --user-buttons-spacing: 8px;
  --user-buttons-color: #966FD6;
  --role-circle: 10px;
  --discord-logo: none;
  --colored-emoji: grayscale(0%);
  --disable-animations: 2s channel-unread infinite;
}

.theme-dark {
  --background-primary: #161616;
  --background-secondary: #101010;
  --background-secondary-alt: #101010;
  --background-tertiary: #0C0C0C;
  --background-mobile-primary: #966FD6;
  --background-mobile-secondary: #101010;
  --channeltextarea-background: #2B2B2B;
  --background-accent: #966FD6;
  --background-modifier-hover: rgb(255,255,255,0.05);
  --background-modifier-active: rgb(150,111,214,0.16862745098039217);
  --background-modifier-selected: rgb(150,111,214,0.09019607843137255);
  --deprecated-card-bg: rgb(16,16,16,0.81);
  --background-floating: rgb(16,16,16,1);
  --deprecated-quickswitcher-input-background: #101010;
  --scrollbar-auto-thumb: #966FD6;
  --scrollbar-auto-track: #1B1B1B;
  --scrollbar-thin-thumb: #1B1B1B;
  --activity-card-background: #101010;
  --background-message-hover: transparent;
  --elevation-low: none;
}

.theme-light {
  --background-primary: #23283D;
  --background-secondary: #1E2233;
  --background-secondary-alt: #191F2E;
  --background-tertiary: #101320;
  --background-accent: #7289DA;
  --background-modifier-hover: #262B41;
  --background-modifier-active: #262B41;
  --header-primary: #fff;
  --header-secondary: #B1B5B9;
  --text-normal: #8E9297;
}

/* Any custom CSS below here */
