@import url('https://github.com/pauwma/discord-themes/raw/master/main.css');

:root {
  --background-accent: rgb(255, 160, 184);
}

/* Cat */
[class^="panels-3wFtMD"]::before {
    content: "";
    width: 47px;
    height: 47px;
    left: 185px;
    margin-top: -47px;
    position: absolute;
    background-image: url('https://cdn.discordapp.com/emojis/1091853954045972530.gif?size=48&name=oneko_zzz&quality=lossless');
}
