@import url('https://github.com/pauwma/discord-themes/raw/master/main.css');

:root {
  --background-accent: rgb(119, 221, 119);
}

/*Home Button*/
.homeIcon-r0w4ny path {fill: transparent}
.homeIcon-r0w4ny {
background: url('https://media.discordapp.net/attachments/521060135901069329/1130614113278623814/2FPZAaj.png?width=702&height=702') center/cover no-repeat;
min-width: 60px;
min-height: 60px;
}

/* Ranita */
[class^="panels-3wFtMD"]::before {
    content: "";
    width: 47px;
    height: 47px;
    left: 183px;
    margin-top: -47px;
    position: absolute;
    background-image: url('https://media.discordapp.net/attachments/521060135901069329/1130607183466352651/2QHIXWU.gif');
}
