@import url('https://github.com/pauwma/discord-themes/raw/master/main.css');

:root {
  --background-accent: rgb(255, 160, 184);
}

/*Home Button*/
.homeIcon-r0w4ny path {fill: transparent}
.homeIcon-r0w4ny {
background: url('https://i.pinimg.com/originals/22/2c/10/222c106d1e2cda6070f478ae95c1846f.gif') center/cover no-repeat;
min-width: 60px;
min-height: 60px;
}

/* Cat */
[class^="panels-3wFtMD"]::before {
    content: "";
    width: 47px;
    height: 47px;
    left: 185px;
    margin-top: -47px;
    position: absolute;
    background-image: url('https://cdn.discordapp.com/emojis/1091853954045972530.gif?size=48&name=oneko_zzz&quality=lossless');
}
